# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../DevTools\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\persondocument\code\DevTools\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
